NODE_ENV=development
PORT=3000

DB_NAME=eventhub_tecnm
DB_USER=postgres
DB_PASSWORD=tu_password_postgres
DB_HOST=localhost
DB_PORT=5432

JWT_SECRET=genera_una_clave_larga_y_aleatoria
JWT_EXPIRES_IN=7d

CORS_ORIGIN=*
